<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form (ngSubmit)="loginUser()" [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12"
          ><a [routerLink]="['/auth/register']"
            >Aun no tienes una cuenta?</a
          ></ion-col
        >
        <ion-col size="12">
          <ion-button
            type="submit"
            [disabled]="loading || !form.valid"
            expand="full"
            ><strong *ngIf="!loading">Inicia Sesion</strong>
            <ion-spinner
              class="ion-text-center"
              *ngIf="loading"
              color="light"
            ></ion-spinner
          ></ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>