<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form (ngSubmit)="createUser()" [formGroup]="form" autocomplete="false">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input
            [disabled]="form.get('verificationCode')"
              placeholder="E-mail"
              type="email"
              formControlName="email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
            [disabled]="form.get('verificationCode')"
              placeholder="Contraseña"
              type="password"
              formControlName="password"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
            [disabled]="form.get('verificationCode')"
              placeholder="Nombre"
              type="text"
              formControlName="name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <ng-container *ngIf="!form.get('verificationCode')"
            ><ion-label position="floating">Numero de telefono</ion-label>
            <international-phone-number
              placeholder="Ingrese numero de telefono"
              [maxlength]="20"
              defaultCountry="ve"
              formControlName="phoneNumber"
            ></international-phone-number
          ></ng-container>
          <ng-container *ngIf="form.get('verificationCode')">
            <ion-item>
              <ion-label position="floating">Numero de telefono</ion-label>
              <ion-input
                [value]="form.value.phoneNumber"
                formControlName="phoneNumber"
                [disabled]="form.get('verificationCode')"
              ></ion-input>
            </ion-item>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('verificationCode')">
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Codigo de verificacion</ion-label>
            <ion-input
              placeholder="Codigo"
              type="text"
              formControlName="verificationCode"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><a [routerLink]="['/auth/login']">Ya tienes una cuenta?</a></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            type="submit"
            [disabled]="loading || !form.valid"
            expand="full"
            ><strong *ngIf="!loading">Registrate</strong>
            <ion-spinner
              class="ion-text-center"
              *ngIf="loading"
              color="light"
            ></ion-spinner
          ></ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
